/*
 * Seerr API
 *
 * This is the documentation for the Seerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Seerr.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`blacklist_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlacklistGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blacklist_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlacklistPostError {
    Status412(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blacklist_tmdb_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlacklistTmdbIdDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blacklist_tmdb_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlacklistTmdbIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blocklist_collection_collection_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlocklistCollectionCollectionIdDeleteError {
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blocklist_collection_collection_id_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlocklistCollectionCollectionIdPostError {
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blocklist_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlocklistGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blocklist_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlocklistPostError {
    Status412(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blocklist_tmdb_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlocklistTmdbIdDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`blocklist_tmdb_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BlocklistTmdbIdGetError {
    UnknownValue(serde_json::Value),
}

/// **DEPRECATED**: Use `/blocklist` instead. This endpoint will be deprecated soon.
#[deprecated]
pub async fn blacklist_get(
    configuration: &configuration::Configuration,
    take: Option<f64>,
    skip: Option<f64>,
    search: Option<&str>,
    filter: Option<&str>,
) -> Result<models::BlocklistGet200Response, Error<BlacklistGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_take = take;
    let p_query_skip = skip;
    let p_query_search = search;
    let p_query_filter = filter;

    let uri_str = format!("{}/blacklist", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_take {
        req_builder = req_builder.query(&[("take", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_skip {
        req_builder = req_builder.query(&[("skip", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_search {
        req_builder = req_builder.query(&[("search", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filter {
        req_builder = req_builder.query(&[("filter", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::BlocklistGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::BlocklistGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<BlacklistGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// **DEPRECATED**: Use `/blocklist` instead. This endpoint will be deprecated soon.
#[deprecated]
pub async fn blacklist_post(
    configuration: &configuration::Configuration,
    blocklist: models::Blocklist,
) -> Result<(), Error<BlacklistPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_blocklist = blocklist;

    let uri_str = format!("{}/blacklist", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_blocklist);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlacklistPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// **DEPRECATED**: Use `/blocklist/{tmdbId}` instead. This endpoint will be deprecated soon.
#[deprecated]
pub async fn blacklist_tmdb_id_delete(
    configuration: &configuration::Configuration,
    tmdb_id: &str,
    media_type: &str,
) -> Result<(), Error<BlacklistTmdbIdDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tmdb_id = tmdb_id;
    let p_query_media_type = media_type;

    let uri_str = format!(
        "{}/blacklist/{tmdbId}",
        configuration.base_path,
        tmdbId = crate::apis::urlencode(p_path_tmdb_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    req_builder = req_builder.query(&[("mediaType", &p_query_media_type.to_string())]);
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlacklistTmdbIdDeleteError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// **DEPRECATED**: Use `/blocklist/{tmdbId}` instead. This endpoint will be deprecated soon.
#[deprecated]
pub async fn blacklist_tmdb_id_get(
    configuration: &configuration::Configuration,
    tmdb_id: &str,
    media_type: &str,
) -> Result<(), Error<BlacklistTmdbIdGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tmdb_id = tmdb_id;
    let p_query_media_type = media_type;

    let uri_str = format!(
        "{}/blacklist/{tmdbId}",
        configuration.base_path,
        tmdbId = crate::apis::urlencode(p_path_tmdb_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = req_builder.query(&[("mediaType", &p_query_media_type.to_string())]);
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlacklistTmdbIdGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Removes all movies in a collection from the blocklist
pub async fn blocklist_collection_collection_id_delete(
    configuration: &configuration::Configuration,
    collection_id: &str,
) -> Result<(), Error<BlocklistCollectionCollectionIdDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_collection_id = collection_id;

    let uri_str = format!(
        "{}/blocklist/collection/{collectionId}",
        configuration.base_path,
        collectionId = crate::apis::urlencode(p_path_collection_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlocklistCollectionCollectionIdDeleteError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Adds all movies in a collection to the blocklist
pub async fn blocklist_collection_collection_id_post(
    configuration: &configuration::Configuration,
    collection_id: &str,
    body: Option<serde_json::Value>,
) -> Result<(), Error<BlocklistCollectionCollectionIdPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_collection_id = collection_id;
    let p_body_body = body;

    let uri_str = format!(
        "{}/blocklist/collection/{collectionId}",
        configuration.base_path,
        collectionId = crate::apis::urlencode(p_path_collection_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_body);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlocklistCollectionCollectionIdPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of all blocklisted media
pub async fn blocklist_get(
    configuration: &configuration::Configuration,
    take: Option<f64>,
    skip: Option<f64>,
    search: Option<&str>,
    filter: Option<&str>,
) -> Result<models::BlocklistGet200Response, Error<BlocklistGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_take = take;
    let p_query_skip = skip;
    let p_query_search = search;
    let p_query_filter = filter;

    let uri_str = format!("{}/blocklist", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_take {
        req_builder = req_builder.query(&[("take", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_skip {
        req_builder = req_builder.query(&[("skip", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_search {
        req_builder = req_builder.query(&[("search", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filter {
        req_builder = req_builder.query(&[("filter", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::BlocklistGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::BlocklistGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<BlocklistGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

pub async fn blocklist_post(
    configuration: &configuration::Configuration,
    blocklist: models::Blocklist,
) -> Result<(), Error<BlocklistPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_blocklist = blocklist;

    let uri_str = format!("{}/blocklist", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_blocklist);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlocklistPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

pub async fn blocklist_tmdb_id_delete(
    configuration: &configuration::Configuration,
    tmdb_id: &str,
    media_type: &str,
) -> Result<(), Error<BlocklistTmdbIdDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tmdb_id = tmdb_id;
    let p_query_media_type = media_type;

    let uri_str = format!(
        "{}/blocklist/{tmdbId}",
        configuration.base_path,
        tmdbId = crate::apis::urlencode(p_path_tmdb_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    req_builder = req_builder.query(&[("mediaType", &p_query_media_type.to_string())]);
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlocklistTmdbIdDeleteError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

pub async fn blocklist_tmdb_id_get(
    configuration: &configuration::Configuration,
    tmdb_id: &str,
    media_type: &str,
) -> Result<(), Error<BlocklistTmdbIdGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tmdb_id = tmdb_id;
    let p_query_media_type = media_type;

    let uri_str = format!(
        "{}/blocklist/{tmdbId}",
        configuration.base_path,
        tmdbId = crate::apis::urlencode(p_path_tmdb_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = req_builder.query(&[("mediaType", &p_query_media_type.to_string())]);
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<BlocklistTmdbIdGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
