/*
 * Seerr API
 *
 * This is the documentation for the Seerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Seerr.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`media_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MediaGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`media_media_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MediaMediaIdDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`media_media_id_file_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MediaMediaIdFileDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`media_media_id_status_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MediaMediaIdStatusPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`media_media_id_watch_data_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MediaMediaIdWatchDataGetError {
    UnknownValue(serde_json::Value),
}

/// Returns all media (can be filtered and limited) in a JSON object.
pub async fn media_get(
    configuration: &configuration::Configuration,
    take: Option<f64>,
    skip: Option<f64>,
    filter: Option<&str>,
    sort: Option<&str>,
) -> Result<models::MediaGet200Response, Error<MediaGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_take = take;
    let p_query_skip = skip;
    let p_query_filter = filter;
    let p_query_sort = sort;

    let uri_str = format!("{}/media", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_take {
        req_builder = req_builder.query(&[("take", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_skip {
        req_builder = req_builder.query(&[("skip", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filter {
        req_builder = req_builder.query(&[("filter", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_sort {
        req_builder = req_builder.query(&[("sort", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MediaGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MediaGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MediaGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Removes a media item. The `MANAGE_REQUESTS` permission is required to perform this action.
pub async fn media_media_id_delete(
    configuration: &configuration::Configuration,
    media_id: &str,
) -> Result<(), Error<MediaMediaIdDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_media_id = media_id;

    let uri_str = format!(
        "{}/media/{mediaId}",
        configuration.base_path,
        mediaId = crate::apis::urlencode(p_path_media_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<MediaMediaIdDeleteError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Removes a media file from radarr/sonarr. The `ADMIN` permission is required to perform this action.
pub async fn media_media_id_file_delete(
    configuration: &configuration::Configuration,
    media_id: &str,
    is4k: Option<bool>,
) -> Result<(), Error<MediaMediaIdFileDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_media_id = media_id;
    let p_query_is4k = is4k;

    let uri_str = format!(
        "{}/media/{mediaId}/file",
        configuration.base_path,
        mediaId = crate::apis::urlencode(p_path_media_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    if let Some(ref param_value) = p_query_is4k {
        req_builder = req_builder.query(&[("is4k", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<MediaMediaIdFileDeleteError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates a media item's status and returns the media in JSON format
pub async fn media_media_id_status_post(
    configuration: &configuration::Configuration,
    media_id: &str,
    status: &str,
    media_media_id_status_post_request: Option<models::MediaMediaIdStatusPostRequest>,
) -> Result<models::MediaInfo, Error<MediaMediaIdStatusPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_media_id = media_id;
    let p_path_status = status;
    let p_body_media_media_id_status_post_request = media_media_id_status_post_request;

    let uri_str = format!(
        "{}/media/{mediaId}/{status}",
        configuration.base_path,
        mediaId = crate::apis::urlencode(p_path_media_id),
        status = crate::apis::urlencode(p_path_status)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_media_media_id_status_post_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MediaInfo`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MediaInfo`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MediaMediaIdStatusPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns play count, play duration, and users who have watched the media.  Requires the `ADMIN` permission.
pub async fn media_media_id_watch_data_get(
    configuration: &configuration::Configuration,
    media_id: &str,
) -> Result<models::MediaMediaIdWatchDataGet200Response, Error<MediaMediaIdWatchDataGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_media_id = media_id;

    let uri_str = format!(
        "{}/media/{mediaId}/watch_data",
        configuration.base_path,
        mediaId = crate::apis::urlencode(p_path_media_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MediaMediaIdWatchDataGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MediaMediaIdWatchDataGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MediaMediaIdWatchDataGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
