/*
 * Seerr API
 *
 * This is the documentation for the Seerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Seerr.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`movie_movie_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MovieMovieIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`movie_movie_id_ratings_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MovieMovieIdRatingsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`movie_movie_id_ratingscombined_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MovieMovieIdRatingscombinedGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`movie_movie_id_recommendations_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MovieMovieIdRecommendationsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`movie_movie_id_similar_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MovieMovieIdSimilarGetError {
    UnknownValue(serde_json::Value),
}

/// Returns full movie details in a JSON object.
pub async fn movie_movie_id_get(
    configuration: &configuration::Configuration,
    movie_id: f64,
    language: Option<&str>,
) -> Result<models::MovieDetails, Error<MovieMovieIdGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_movie_id = movie_id;
    let p_query_language = language;

    let uri_str = format!(
        "{}/movie/{movieId}",
        configuration.base_path,
        movieId = p_path_movie_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MovieDetails`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MovieDetails`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MovieMovieIdGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns ratings based on the provided movieId in a JSON object.
pub async fn movie_movie_id_ratings_get(
    configuration: &configuration::Configuration,
    movie_id: f64,
) -> Result<models::MovieMovieIdRatingsGet200Response, Error<MovieMovieIdRatingsGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_movie_id = movie_id;

    let uri_str = format!(
        "{}/movie/{movieId}/ratings",
        configuration.base_path,
        movieId = p_path_movie_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MovieMovieIdRatingsGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MovieMovieIdRatingsGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MovieMovieIdRatingsGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns ratings from RottenTomatoes and IMDB based on the provided movieId in a JSON object.
pub async fn movie_movie_id_ratingscombined_get(
    configuration: &configuration::Configuration,
    movie_id: f64,
) -> Result<
    models::MovieMovieIdRatingscombinedGet200Response,
    Error<MovieMovieIdRatingscombinedGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_movie_id = movie_id;

    let uri_str = format!(
        "{}/movie/{movieId}/ratingscombined",
        configuration.base_path,
        movieId = p_path_movie_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MovieMovieIdRatingscombinedGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MovieMovieIdRatingscombinedGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MovieMovieIdRatingscombinedGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of recommended movies based on provided movie ID in a JSON object.
pub async fn movie_movie_id_recommendations_get(
    configuration: &configuration::Configuration,
    movie_id: f64,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverMoviesGet200Response, Error<MovieMovieIdRecommendationsGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_movie_id = movie_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/movie/{movieId}/recommendations",
        configuration.base_path,
        movieId = p_path_movie_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MovieMovieIdRecommendationsGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of similar movies based on the provided movieId in a JSON object.
pub async fn movie_movie_id_similar_get(
    configuration: &configuration::Configuration,
    movie_id: f64,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverMoviesGet200Response, Error<MovieMovieIdSimilarGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_movie_id = movie_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/movie/{movieId}/similar",
        configuration.base_path,
        movieId = p_path_movie_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MovieMovieIdSimilarGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
