/*
 * Seerr API
 *
 * This is the documentation for the Seerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Seerr.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`discover_genreslider_movie_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverGenresliderMovieGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_genreslider_tv_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverGenresliderTvGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_keyword_keyword_id_movies_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverKeywordKeywordIdMoviesGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_movies_genre_genre_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverMoviesGenreGenreIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_movies_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverMoviesGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_movies_language_language_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverMoviesLanguageLanguageGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_movies_studio_studio_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverMoviesStudioStudioIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_movies_upcoming_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverMoviesUpcomingGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_trending_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverTrendingGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_tv_genre_genre_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverTvGenreGenreIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_tv_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverTvGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_tv_language_language_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverTvLanguageLanguageGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_tv_network_network_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverTvNetworkNetworkIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_tv_upcoming_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverTvUpcomingGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`discover_watchlist_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiscoverWatchlistGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`search_company_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SearchCompanyGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`search_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SearchGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`search_keyword_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SearchKeywordGetError {
    UnknownValue(serde_json::Value),
}

/// Returns a list of genres with backdrops attached
pub async fn discover_genreslider_movie_get(
    configuration: &configuration::Configuration,
    language: Option<&str>,
) -> Result<
    Vec<models::DiscoverGenresliderMovieGet200ResponseInner>,
    Error<DiscoverGenresliderMovieGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_language = language;

    let uri_str = format!("{}/discover/genreslider/movie", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::DiscoverGenresliderMovieGet200ResponseInner&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::DiscoverGenresliderMovieGet200ResponseInner&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverGenresliderMovieGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of genres with backdrops attached
pub async fn discover_genreslider_tv_get(
    configuration: &configuration::Configuration,
    language: Option<&str>,
) -> Result<
    Vec<models::DiscoverGenresliderMovieGet200ResponseInner>,
    Error<DiscoverGenresliderTvGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_language = language;

    let uri_str = format!("{}/discover/genreslider/tv", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::DiscoverGenresliderMovieGet200ResponseInner&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::DiscoverGenresliderMovieGet200ResponseInner&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverGenresliderTvGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of movies based on the provided keyword ID a JSON object.
pub async fn discover_keyword_keyword_id_movies_get(
    configuration: &configuration::Configuration,
    keyword_id: f64,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverMoviesGet200Response, Error<DiscoverKeywordKeywordIdMoviesGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_keyword_id = keyword_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/discover/keyword/{keywordId}/movies",
        configuration.base_path,
        keywordId = p_path_keyword_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverKeywordKeywordIdMoviesGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies based on the provided genre ID in a JSON object.
pub async fn discover_movies_genre_genre_id_get(
    configuration: &configuration::Configuration,
    genre_id: &str,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<
    models::DiscoverMoviesGenreGenreIdGet200Response,
    Error<DiscoverMoviesGenreGenreIdGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_genre_id = genre_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/discover/movies/genre/{genreId}",
        configuration.base_path,
        genreId = crate::apis::urlencode(p_path_genre_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesGenreGenreIdGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesGenreGenreIdGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverMoviesGenreGenreIdGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies in a JSON object.
pub async fn discover_movies_get(
    configuration: &configuration::Configuration,
    page: Option<f64>,
    language: Option<&str>,
    genre: Option<&str>,
    studio: Option<f64>,
    keywords: Option<&str>,
    exclude_keywords: Option<&str>,
    sort_by: Option<&str>,
    primary_release_date_gte: Option<&str>,
    primary_release_date_lte: Option<&str>,
    with_runtime_gte: Option<f64>,
    with_runtime_lte: Option<f64>,
    vote_average_gte: Option<f64>,
    vote_average_lte: Option<f64>,
    vote_count_gte: Option<f64>,
    vote_count_lte: Option<f64>,
    watch_region: Option<&str>,
    watch_providers: Option<&str>,
    certification: Option<&str>,
    certification_gte: Option<&str>,
    certification_lte: Option<&str>,
    certification_country: Option<&str>,
    certification_mode: Option<&str>,
) -> Result<models::DiscoverMoviesGet200Response, Error<DiscoverMoviesGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_page = page;
    let p_query_language = language;
    let p_query_genre = genre;
    let p_query_studio = studio;
    let p_query_keywords = keywords;
    let p_query_exclude_keywords = exclude_keywords;
    let p_query_sort_by = sort_by;
    let p_query_primary_release_date_gte = primary_release_date_gte;
    let p_query_primary_release_date_lte = primary_release_date_lte;
    let p_query_with_runtime_gte = with_runtime_gte;
    let p_query_with_runtime_lte = with_runtime_lte;
    let p_query_vote_average_gte = vote_average_gte;
    let p_query_vote_average_lte = vote_average_lte;
    let p_query_vote_count_gte = vote_count_gte;
    let p_query_vote_count_lte = vote_count_lte;
    let p_query_watch_region = watch_region;
    let p_query_watch_providers = watch_providers;
    let p_query_certification = certification;
    let p_query_certification_gte = certification_gte;
    let p_query_certification_lte = certification_lte;
    let p_query_certification_country = certification_country;
    let p_query_certification_mode = certification_mode;

    let uri_str = format!("{}/discover/movies", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_genre {
        req_builder = req_builder.query(&[("genre", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_studio {
        req_builder = req_builder.query(&[("studio", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_keywords {
        req_builder = req_builder.query(&[("keywords", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_exclude_keywords {
        req_builder = req_builder.query(&[("excludeKeywords", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_sort_by {
        req_builder = req_builder.query(&[("sortBy", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_primary_release_date_gte {
        req_builder = req_builder.query(&[("primaryReleaseDateGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_primary_release_date_lte {
        req_builder = req_builder.query(&[("primaryReleaseDateLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_with_runtime_gte {
        req_builder = req_builder.query(&[("withRuntimeGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_with_runtime_lte {
        req_builder = req_builder.query(&[("withRuntimeLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_average_gte {
        req_builder = req_builder.query(&[("voteAverageGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_average_lte {
        req_builder = req_builder.query(&[("voteAverageLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_count_gte {
        req_builder = req_builder.query(&[("voteCountGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_count_lte {
        req_builder = req_builder.query(&[("voteCountLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_watch_region {
        req_builder = req_builder.query(&[("watchRegion", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_watch_providers {
        req_builder = req_builder.query(&[("watchProviders", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification {
        req_builder = req_builder.query(&[("certification", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_gte {
        req_builder = req_builder.query(&[("certificationGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_lte {
        req_builder = req_builder.query(&[("certificationLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_country {
        req_builder = req_builder.query(&[("certificationCountry", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_mode {
        req_builder = req_builder.query(&[("certificationMode", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverMoviesGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies based on the provided ISO 639-1 language code in a JSON object.
pub async fn discover_movies_language_language_get(
    configuration: &configuration::Configuration,
    language: &str,
    page: Option<f64>,
    language2: Option<&str>,
) -> Result<
    models::DiscoverMoviesLanguageLanguageGet200Response,
    Error<DiscoverMoviesLanguageLanguageGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_language = language;
    let p_query_page = page;
    let p_query_language = language2;

    let uri_str = format!(
        "{}/discover/movies/language/{language}",
        configuration.base_path,
        language = crate::apis::urlencode(p_path_language)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesLanguageLanguageGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesLanguageLanguageGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverMoviesLanguageLanguageGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies based on the provided studio ID in a JSON object.
pub async fn discover_movies_studio_studio_id_get(
    configuration: &configuration::Configuration,
    studio_id: &str,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<
    models::DiscoverMoviesStudioStudioIdGet200Response,
    Error<DiscoverMoviesStudioStudioIdGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_studio_id = studio_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/discover/movies/studio/{studioId}",
        configuration.base_path,
        studioId = crate::apis::urlencode(p_path_studio_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesStudioStudioIdGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesStudioStudioIdGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverMoviesStudioStudioIdGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies in a JSON object.
pub async fn discover_movies_upcoming_get(
    configuration: &configuration::Configuration,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverMoviesGet200Response, Error<DiscoverMoviesUpcomingGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!("{}/discover/movies/upcoming", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverMoviesGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverMoviesUpcomingGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies and TV shows in a JSON object.
pub async fn discover_trending_get(
    configuration: &configuration::Configuration,
    page: Option<f64>,
    language: Option<&str>,
    media_type: Option<&str>,
    time_window: Option<&str>,
) -> Result<models::SearchGet200Response, Error<DiscoverTrendingGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_page = page;
    let p_query_language = language;
    let p_query_media_type = media_type;
    let p_query_time_window = time_window;

    let uri_str = format!("{}/discover/trending", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_media_type {
        req_builder = req_builder.query(&[("mediaType", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_time_window {
        req_builder = req_builder.query(&[("timeWindow", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SearchGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SearchGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverTrendingGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of TV shows based on the provided genre ID in a JSON object.
pub async fn discover_tv_genre_genre_id_get(
    configuration: &configuration::Configuration,
    genre_id: &str,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverTvGenreGenreIdGet200Response, Error<DiscoverTvGenreGenreIdGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_genre_id = genre_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/discover/tv/genre/{genreId}",
        configuration.base_path,
        genreId = crate::apis::urlencode(p_path_genre_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvGenreGenreIdGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvGenreGenreIdGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverTvGenreGenreIdGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of TV shows in a JSON object.
pub async fn discover_tv_get(
    configuration: &configuration::Configuration,
    page: Option<f64>,
    language: Option<&str>,
    genre: Option<&str>,
    network: Option<f64>,
    keywords: Option<&str>,
    exclude_keywords: Option<&str>,
    sort_by: Option<&str>,
    first_air_date_gte: Option<&str>,
    first_air_date_lte: Option<&str>,
    with_runtime_gte: Option<f64>,
    with_runtime_lte: Option<f64>,
    vote_average_gte: Option<f64>,
    vote_average_lte: Option<f64>,
    vote_count_gte: Option<f64>,
    vote_count_lte: Option<f64>,
    watch_region: Option<&str>,
    watch_providers: Option<&str>,
    status: Option<&str>,
    certification: Option<&str>,
    certification_gte: Option<&str>,
    certification_lte: Option<&str>,
    certification_country: Option<&str>,
    certification_mode: Option<&str>,
) -> Result<models::DiscoverTvGet200Response, Error<DiscoverTvGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_page = page;
    let p_query_language = language;
    let p_query_genre = genre;
    let p_query_network = network;
    let p_query_keywords = keywords;
    let p_query_exclude_keywords = exclude_keywords;
    let p_query_sort_by = sort_by;
    let p_query_first_air_date_gte = first_air_date_gte;
    let p_query_first_air_date_lte = first_air_date_lte;
    let p_query_with_runtime_gte = with_runtime_gte;
    let p_query_with_runtime_lte = with_runtime_lte;
    let p_query_vote_average_gte = vote_average_gte;
    let p_query_vote_average_lte = vote_average_lte;
    let p_query_vote_count_gte = vote_count_gte;
    let p_query_vote_count_lte = vote_count_lte;
    let p_query_watch_region = watch_region;
    let p_query_watch_providers = watch_providers;
    let p_query_status = status;
    let p_query_certification = certification;
    let p_query_certification_gte = certification_gte;
    let p_query_certification_lte = certification_lte;
    let p_query_certification_country = certification_country;
    let p_query_certification_mode = certification_mode;

    let uri_str = format!("{}/discover/tv", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_genre {
        req_builder = req_builder.query(&[("genre", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_network {
        req_builder = req_builder.query(&[("network", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_keywords {
        req_builder = req_builder.query(&[("keywords", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_exclude_keywords {
        req_builder = req_builder.query(&[("excludeKeywords", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_sort_by {
        req_builder = req_builder.query(&[("sortBy", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_first_air_date_gte {
        req_builder = req_builder.query(&[("firstAirDateGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_first_air_date_lte {
        req_builder = req_builder.query(&[("firstAirDateLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_with_runtime_gte {
        req_builder = req_builder.query(&[("withRuntimeGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_with_runtime_lte {
        req_builder = req_builder.query(&[("withRuntimeLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_average_gte {
        req_builder = req_builder.query(&[("voteAverageGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_average_lte {
        req_builder = req_builder.query(&[("voteAverageLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_count_gte {
        req_builder = req_builder.query(&[("voteCountGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_vote_count_lte {
        req_builder = req_builder.query(&[("voteCountLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_watch_region {
        req_builder = req_builder.query(&[("watchRegion", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_watch_providers {
        req_builder = req_builder.query(&[("watchProviders", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_status {
        req_builder = req_builder.query(&[("status", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification {
        req_builder = req_builder.query(&[("certification", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_gte {
        req_builder = req_builder.query(&[("certificationGte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_lte {
        req_builder = req_builder.query(&[("certificationLte", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_country {
        req_builder = req_builder.query(&[("certificationCountry", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_certification_mode {
        req_builder = req_builder.query(&[("certificationMode", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverTvGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of TV shows based on the provided ISO 639-1 language code in a JSON object.
pub async fn discover_tv_language_language_get(
    configuration: &configuration::Configuration,
    language: &str,
    page: Option<f64>,
    language2: Option<&str>,
) -> Result<
    models::DiscoverTvLanguageLanguageGet200Response,
    Error<DiscoverTvLanguageLanguageGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_language = language;
    let p_query_page = page;
    let p_query_language = language2;

    let uri_str = format!(
        "{}/discover/tv/language/{language}",
        configuration.base_path,
        language = crate::apis::urlencode(p_path_language)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvLanguageLanguageGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvLanguageLanguageGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverTvLanguageLanguageGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of TV shows based on the provided network ID in a JSON object.
pub async fn discover_tv_network_network_id_get(
    configuration: &configuration::Configuration,
    network_id: &str,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<
    models::DiscoverTvNetworkNetworkIdGet200Response,
    Error<DiscoverTvNetworkNetworkIdGetError>,
> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_network_id = network_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/discover/tv/network/{networkId}",
        configuration.base_path,
        networkId = crate::apis::urlencode(p_path_network_id)
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvNetworkNetworkIdGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvNetworkNetworkIdGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverTvNetworkNetworkIdGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of upcoming TV shows in a JSON object.
pub async fn discover_tv_upcoming_get(
    configuration: &configuration::Configuration,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverTvGet200Response, Error<DiscoverTvUpcomingGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!("{}/discover/tv/upcoming", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverTvUpcomingGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

pub async fn discover_watchlist_get(
    configuration: &configuration::Configuration,
    page: Option<f64>,
) -> Result<models::UserUserIdWatchlistGet200Response, Error<DiscoverWatchlistGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_page = page;

    let uri_str = format!("{}/discover/watchlist", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::UserUserIdWatchlistGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::UserUserIdWatchlistGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<DiscoverWatchlistGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of TMDB companies matching the search query. (Will not return origin country)
pub async fn search_company_get(
    configuration: &configuration::Configuration,
    query: &str,
    page: Option<f64>,
) -> Result<models::SearchCompanyGet200Response, Error<SearchCompanyGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_query = query;
    let p_query_page = page;

    let uri_str = format!("{}/search/company", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = req_builder.query(&[("query", &p_query_query.to_string())]);
    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SearchCompanyGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SearchCompanyGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SearchCompanyGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of movies, TV shows, or people a JSON object.
pub async fn search_get(
    configuration: &configuration::Configuration,
    query: &str,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::SearchGet200Response, Error<SearchGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_query = query;
    let p_query_page = page;
    let p_query_language = language;

    // HAND-PATCHED: reqwest's .query() uses form-encoding (spaces → '+') but Seerr
    // requires percent-encoding (spaces → '%20'). Embed the encoded value directly
    // in the URL so reqwest doesn't re-encode it.
    let encoded_query =
        percent_encoding::utf8_percent_encode(p_query_query, percent_encoding::NON_ALPHANUMERIC);
    let uri_str = format!("{}/search?query={}", configuration.base_path, encoded_query);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);
    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SearchGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SearchGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SearchGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of TMDB keywords matching the search query
pub async fn search_keyword_get(
    configuration: &configuration::Configuration,
    query: &str,
    page: Option<f64>,
) -> Result<models::SearchKeywordGet200Response, Error<SearchKeywordGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_query = query;
    let p_query_page = page;

    let uri_str = format!("{}/search/keyword", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = req_builder.query(&[("query", &p_query_query.to_string())]);
    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SearchKeywordGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SearchKeywordGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SearchKeywordGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
