/*
 * Seerr API
 *
 * This is the documentation for the Seerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Seerr.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`settings_about_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsAboutGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_cache_cache_id_flush_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsCacheCacheIdFlushPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_cache_dns_dns_entry_flush_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsCacheDnsDnsEntryFlushPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_cache_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsCacheGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_discover_add_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsDiscoverAddPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_discover_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsDiscoverGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_discover_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsDiscoverPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_discover_reset_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsDiscoverResetGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_discover_slider_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsDiscoverSliderIdDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_discover_slider_id_put`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsDiscoverSliderIdPutError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_initialize_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsInitializePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jellyfin_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJellyfinGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jellyfin_library_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJellyfinLibraryGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jellyfin_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJellyfinPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jellyfin_sync_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJellyfinSyncGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jellyfin_sync_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJellyfinSyncPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jellyfin_users_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJellyfinUsersGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jobs_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJobsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jobs_job_id_cancel_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJobsJobIdCancelPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jobs_job_id_run_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJobsJobIdRunPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_jobs_job_id_schedule_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsJobsJobIdSchedulePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_logs_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsLogsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_main_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsMainGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_main_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsMainPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_main_regenerate_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsMainRegeneratePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_metadatas_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsMetadatasGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_metadatas_put`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsMetadatasPutError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_metadatas_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsMetadatasTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_network_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNetworkGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_network_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNetworkPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_discord_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsDiscordGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_discord_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsDiscordPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_discord_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsDiscordTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_email_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsEmailGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_email_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsEmailPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_email_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsEmailTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_gotify_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsGotifyGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_gotify_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsGotifyPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_gotify_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsGotifyTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_ntfy_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsNtfyGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_ntfy_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsNtfyPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_ntfy_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsNtfyTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushbullet_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushbulletGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushbullet_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushbulletPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushbullet_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushbulletTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushover_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushoverGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushover_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushoverPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushover_sounds_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushoverSoundsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_pushover_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsPushoverTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_slack_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsSlackGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_slack_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsSlackPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_slack_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsSlackTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_telegram_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsTelegramGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_telegram_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsTelegramPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_telegram_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsTelegramTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_webhook_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsWebhookGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_webhook_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsWebhookPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_webhook_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsWebhookTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_webpush_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsWebpushGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_webpush_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsWebpushPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_notifications_webpush_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsNotificationsWebpushTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_devices_servers_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexDevicesServersGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_library_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexLibraryGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_sync_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexSyncGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_sync_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexSyncPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_plex_users_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPlexUsersGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_public_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsPublicGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_radarr_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsRadarrGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_radarr_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsRadarrPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_radarr_radarr_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsRadarrRadarrIdDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_radarr_radarr_id_profiles_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsRadarrRadarrIdProfilesGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_radarr_radarr_id_put`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsRadarrRadarrIdPutError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_radarr_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsRadarrTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_sonarr_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsSonarrGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_sonarr_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsSonarrPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_sonarr_sonarr_id_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsSonarrSonarrIdDeleteError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_sonarr_sonarr_id_put`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsSonarrSonarrIdPutError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_sonarr_test_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsSonarrTestPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_tautulli_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsTautulliGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`settings_tautulli_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SettingsTautulliPostError {
    UnknownValue(serde_json::Value),
}

/// Returns current server stats in a JSON object.
pub async fn settings_about_get(
    configuration: &configuration::Configuration,
) -> Result<models::SettingsAboutGet200Response, Error<SettingsAboutGetError>> {
    let uri_str = format!("{}/settings/about", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SettingsAboutGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SettingsAboutGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsAboutGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Flushes all data from the cache ID provided
pub async fn settings_cache_cache_id_flush_post(
    configuration: &configuration::Configuration,
    cache_id: &str,
) -> Result<(), Error<SettingsCacheCacheIdFlushPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_cache_id = cache_id;

    let uri_str = format!(
        "{}/settings/cache/{cacheId}/flush",
        configuration.base_path,
        cacheId = crate::apis::urlencode(p_path_cache_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsCacheCacheIdFlushPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Flushes a specific DNS cache entry
pub async fn settings_cache_dns_dns_entry_flush_post(
    configuration: &configuration::Configuration,
    dns_entry: &str,
) -> Result<(), Error<SettingsCacheDnsDnsEntryFlushPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_dns_entry = dns_entry;

    let uri_str = format!(
        "{}/settings/cache/dns/{dnsEntry}/flush",
        configuration.base_path,
        dnsEntry = crate::apis::urlencode(p_path_dns_entry)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsCacheDnsDnsEntryFlushPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Retrieves a list of all active caches and their current stats.
pub async fn settings_cache_get(
    configuration: &configuration::Configuration,
) -> Result<models::SettingsCacheGet200Response, Error<SettingsCacheGetError>> {
    let uri_str = format!("{}/settings/cache", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SettingsCacheGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SettingsCacheGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsCacheGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Add a single slider and return the newly created slider. Requires the `ADMIN` permission.
pub async fn settings_discover_add_post(
    configuration: &configuration::Configuration,
    settings_discover_add_post_request: models::SettingsDiscoverAddPostRequest,
) -> Result<models::DiscoverSlider, Error<SettingsDiscoverAddPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_settings_discover_add_post_request = settings_discover_add_post_request;

    let uri_str = format!("{}/settings/discover/add", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_settings_discover_add_post_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverSlider`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverSlider`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsDiscoverAddPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns all discovery sliders. Built-in and custom made.
pub async fn settings_discover_get(
    configuration: &configuration::Configuration,
) -> Result<Vec<models::DiscoverSlider>, Error<SettingsDiscoverGetError>> {
    let uri_str = format!("{}/settings/discover", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::DiscoverSlider&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::DiscoverSlider&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsDiscoverGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Batch update all sliders at once. Should also be used for creation. Will only update sliders provided and will not delete any sliders not present in the request. If a slider is missing a required field, it will be ignored. Requires the `ADMIN` permission.
pub async fn settings_discover_post(
    configuration: &configuration::Configuration,
    discover_slider: Vec<models::DiscoverSlider>,
) -> Result<Vec<models::DiscoverSlider>, Error<SettingsDiscoverPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_discover_slider = discover_slider;

    let uri_str = format!("{}/settings/discover", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_discover_slider);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::DiscoverSlider&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::DiscoverSlider&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsDiscoverPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Resets all discovery sliders to the default values. Requires the `ADMIN` permission.
pub async fn settings_discover_reset_get(
    configuration: &configuration::Configuration,
) -> Result<(), Error<SettingsDiscoverResetGetError>> {
    let uri_str = format!("{}/settings/discover/reset", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsDiscoverResetGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Deletes the slider with the provided sliderId. Requires the `ADMIN` permission.
pub async fn settings_discover_slider_id_delete(
    configuration: &configuration::Configuration,
    slider_id: f64,
) -> Result<models::DiscoverSlider, Error<SettingsDiscoverSliderIdDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_slider_id = slider_id;

    let uri_str = format!(
        "{}/settings/discover/{sliderId}",
        configuration.base_path,
        sliderId = p_path_slider_id
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::DELETE, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverSlider`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverSlider`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsDiscoverSliderIdDeleteError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates a single slider and return the newly updated slider. Requires the `ADMIN` permission.
pub async fn settings_discover_slider_id_put(
    configuration: &configuration::Configuration,
    slider_id: f64,
    settings_discover_slider_id_put_request: models::SettingsDiscoverSliderIdPutRequest,
) -> Result<models::DiscoverSlider, Error<SettingsDiscoverSliderIdPutError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_slider_id = slider_id;
    let p_body_settings_discover_slider_id_put_request = settings_discover_slider_id_put_request;

    let uri_str = format!(
        "{}/settings/discover/{sliderId}",
        configuration.base_path,
        sliderId = p_path_slider_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::PUT, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_settings_discover_slider_id_put_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverSlider`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverSlider`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsDiscoverSliderIdPutError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Sets the app as initialized, allowing the user to navigate to pages other than the setup page.
pub async fn settings_initialize_post(
    configuration: &configuration::Configuration,
) -> Result<models::PublicSettings, Error<SettingsInitializePostError>> {
    let uri_str = format!("{}/settings/initialize", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::PublicSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::PublicSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsInitializePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Retrieves current Jellyfin settings.
pub async fn settings_jellyfin_get(
    configuration: &configuration::Configuration,
) -> Result<models::JellyfinSettings, Error<SettingsJellyfinGetError>> {
    let uri_str = format!("{}/settings/jellyfin", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::JellyfinSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::JellyfinSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJellyfinGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of Jellyfin libraries in a JSON array.
pub async fn settings_jellyfin_library_get(
    configuration: &configuration::Configuration,
    sync: Option<&str>,
    enable: Option<&str>,
) -> Result<Vec<models::JellyfinLibrary>, Error<SettingsJellyfinLibraryGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_sync = sync;
    let p_query_enable = enable;

    let uri_str = format!("{}/settings/jellyfin/library", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_sync {
        req_builder = req_builder.query(&[("sync", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_enable {
        req_builder = req_builder.query(&[("enable", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::JellyfinLibrary&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::JellyfinLibrary&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJellyfinLibraryGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates Jellyfin settings with the provided values.
pub async fn settings_jellyfin_post(
    configuration: &configuration::Configuration,
    jellyfin_settings: models::JellyfinSettings,
) -> Result<models::JellyfinSettings, Error<SettingsJellyfinPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_jellyfin_settings = jellyfin_settings;

    let uri_str = format!("{}/settings/jellyfin", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_jellyfin_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::JellyfinSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::JellyfinSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJellyfinPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns sync progress in a JSON array.
pub async fn settings_jellyfin_sync_get(
    configuration: &configuration::Configuration,
) -> Result<models::SettingsJellyfinSyncGet200Response, Error<SettingsJellyfinSyncGetError>> {
    let uri_str = format!("{}/settings/jellyfin/sync", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SettingsJellyfinSyncGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SettingsJellyfinSyncGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJellyfinSyncGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Runs a full Jellyfin library sync and returns the progress in a JSON array.
pub async fn settings_jellyfin_sync_post(
    configuration: &configuration::Configuration,
    settings_jellyfin_sync_post_request: Option<models::SettingsJellyfinSyncPostRequest>,
) -> Result<models::SettingsJellyfinSyncGet200Response, Error<SettingsJellyfinSyncPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_settings_jellyfin_sync_post_request = settings_jellyfin_sync_post_request;

    let uri_str = format!("{}/settings/jellyfin/sync", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_settings_jellyfin_sync_post_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SettingsJellyfinSyncGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SettingsJellyfinSyncGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJellyfinSyncPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns a list of Jellyfin Users in a JSON array.
pub async fn settings_jellyfin_users_get(
    configuration: &configuration::Configuration,
) -> Result<
    Vec<models::SettingsJellyfinUsersGet200ResponseInner>,
    Error<SettingsJellyfinUsersGetError>,
> {
    let uri_str = format!("{}/settings/jellyfin/users", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::SettingsJellyfinUsersGet200ResponseInner&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::SettingsJellyfinUsersGet200ResponseInner&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJellyfinUsersGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of all scheduled jobs and details about their next execution time in a JSON array.
pub async fn settings_jobs_get(
    configuration: &configuration::Configuration,
) -> Result<Vec<models::Job>, Error<SettingsJobsGetError>> {
    let uri_str = format!("{}/settings/jobs", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::Job&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::Job&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJobsGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Cancels a specific job. Will return the new job status in JSON format.
pub async fn settings_jobs_job_id_cancel_post(
    configuration: &configuration::Configuration,
    job_id: &str,
) -> Result<models::Job, Error<SettingsJobsJobIdCancelPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_job_id = job_id;

    let uri_str = format!(
        "{}/settings/jobs/{jobId}/cancel",
        configuration.base_path,
        jobId = crate::apis::urlencode(p_path_job_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::Job`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::Job`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJobsJobIdCancelPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Invokes a specific job to run. Will return the new job status in JSON format.
pub async fn settings_jobs_job_id_run_post(
    configuration: &configuration::Configuration,
    job_id: &str,
) -> Result<models::Job, Error<SettingsJobsJobIdRunPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_job_id = job_id;

    let uri_str = format!(
        "{}/settings/jobs/{jobId}/run",
        configuration.base_path,
        jobId = crate::apis::urlencode(p_path_job_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::Job`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::Job`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJobsJobIdRunPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Re-registers the job with the schedule specified. Will return the job in JSON format.
pub async fn settings_jobs_job_id_schedule_post(
    configuration: &configuration::Configuration,
    job_id: &str,
    settings_jobs_job_id_schedule_post_request: models::SettingsJobsJobIdSchedulePostRequest,
) -> Result<models::Job, Error<SettingsJobsJobIdSchedulePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_job_id = job_id;
    let p_body_settings_jobs_job_id_schedule_post_request =
        settings_jobs_job_id_schedule_post_request;

    let uri_str = format!(
        "{}/settings/jobs/{jobId}/schedule",
        configuration.base_path,
        jobId = crate::apis::urlencode(p_path_job_id)
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_settings_jobs_job_id_schedule_post_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::Job`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::Job`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsJobsJobIdSchedulePostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of all log items and details
pub async fn settings_logs_get(
    configuration: &configuration::Configuration,
    take: Option<f64>,
    skip: Option<f64>,
    filter: Option<&str>,
    search: Option<&str>,
) -> Result<Vec<models::SettingsLogsGet200ResponseInner>, Error<SettingsLogsGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_take = take;
    let p_query_skip = skip;
    let p_query_filter = filter;
    let p_query_search = search;

    let uri_str = format!("{}/settings/logs", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_take {
        req_builder = req_builder.query(&[("take", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_skip {
        req_builder = req_builder.query(&[("skip", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filter {
        req_builder = req_builder.query(&[("filter", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_search {
        req_builder = req_builder.query(&[("search", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::SettingsLogsGet200ResponseInner&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::SettingsLogsGet200ResponseInner&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsLogsGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Retrieves all main settings in a JSON object.
pub async fn settings_main_get(
    configuration: &configuration::Configuration,
) -> Result<models::MainSettings, Error<SettingsMainGetError>> {
    let uri_str = format!("{}/settings/main", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MainSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MainSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsMainGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates main settings with the provided values.
pub async fn settings_main_post(
    configuration: &configuration::Configuration,
    main_settings: models::MainSettings,
) -> Result<models::MainSettings, Error<SettingsMainPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_main_settings = main_settings;

    let uri_str = format!("{}/settings/main", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_main_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MainSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MainSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsMainPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns main settings in a JSON object, using the new API key.
pub async fn settings_main_regenerate_post(
    configuration: &configuration::Configuration,
) -> Result<models::MainSettings, Error<SettingsMainRegeneratePostError>> {
    let uri_str = format!("{}/settings/main/regenerate", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MainSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MainSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsMainRegeneratePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Retrieves current Metadata settings.
pub async fn settings_metadatas_get(
    configuration: &configuration::Configuration,
) -> Result<models::MetadataSettings, Error<SettingsMetadatasGetError>> {
    let uri_str = format!("{}/settings/metadatas", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MetadataSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MetadataSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsMetadatasGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates Metadata settings with the provided values.
pub async fn settings_metadatas_put(
    configuration: &configuration::Configuration,
    metadata_settings: models::MetadataSettings,
) -> Result<models::MetadataSettings, Error<SettingsMetadatasPutError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_metadata_settings = metadata_settings;

    let uri_str = format!("{}/settings/metadatas", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::PUT, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_metadata_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MetadataSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MetadataSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsMetadatasPutError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Tests if the TVDB configuration is valid. Returns a list of available languages on success.
pub async fn settings_metadatas_test_post(
    configuration: &configuration::Configuration,
    settings_metadatas_test_post_request: models::SettingsMetadatasTestPostRequest,
) -> Result<models::SettingsMetadatasTestPost200Response, Error<SettingsMetadatasTestPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_settings_metadatas_test_post_request = settings_metadatas_test_post_request;

    let uri_str = format!("{}/settings/metadatas/test", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_settings_metadatas_test_post_request);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::SettingsMetadatasTestPost200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::SettingsMetadatasTestPost200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsMetadatasTestPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Retrieves all network settings in a JSON object.
pub async fn settings_network_get(
    configuration: &configuration::Configuration,
) -> Result<models::MainSettings, Error<SettingsNetworkGetError>> {
    let uri_str = format!("{}/settings/network", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::MainSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::MainSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNetworkGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates network settings with the provided values.
pub async fn settings_network_post(
    configuration: &configuration::Configuration,
    network_settings: models::NetworkSettings,
) -> Result<models::NetworkSettings, Error<SettingsNetworkPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_network_settings = network_settings;

    let uri_str = format!("{}/settings/network", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_network_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::NetworkSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::NetworkSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNetworkPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns current Discord notification settings in a JSON object.
pub async fn settings_notifications_discord_get(
    configuration: &configuration::Configuration,
) -> Result<models::DiscordSettings, Error<SettingsNotificationsDiscordGetError>> {
    let uri_str = format!("{}/settings/notifications/discord", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscordSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscordSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNotificationsDiscordGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates Discord notification settings with the provided values.
pub async fn settings_notifications_discord_post(
    configuration: &configuration::Configuration,
    discord_settings: models::DiscordSettings,
) -> Result<models::DiscordSettings, Error<SettingsNotificationsDiscordPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_discord_settings = discord_settings;

    let uri_str = format!("{}/settings/notifications/discord", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_discord_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscordSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscordSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNotificationsDiscordPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Sends a test notification to the Discord agent.
pub async fn settings_notifications_discord_test_post(
    configuration: &configuration::Configuration,
    discord_settings: models::DiscordSettings,
) -> Result<(), Error<SettingsNotificationsDiscordTestPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_discord_settings = discord_settings;

    let uri_str = format!(
        "{}/settings/notifications/discord/test",
        configuration.base_path
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_discord_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNotificationsDiscordTestPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns current email notification settings in a JSON object.
pub async fn settings_notifications_email_get(
    configuration: &configuration::Configuration,
) -> Result<models::NotificationEmailSettings, Error<SettingsNotificationsEmailGetError>> {
    let uri_str = format!("{}/settings/notifications/email", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::NotificationEmailSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::NotificationEmailSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNotificationsEmailGetError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Updates email notification settings with provided values
pub async fn settings_notifications_email_post(
    configuration: &configuration::Configuration,
    notification_email_settings: models::NotificationEmailSettings,
) -> Result<models::NotificationEmailSettings, Error<SettingsNotificationsEmailPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_notification_email_settings = notification_email_settings;

    let uri_str = format!("{}/settings/notifications/email", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_notification_email_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::NotificationEmailSettings`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::NotificationEmailSettings`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNotificationsEmailPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Sends a test notification to the email agent.
pub async fn settings_notifications_email_test_post(
    configuration: &configuration::Configuration,
    notification_email_settings: models::NotificationEmailSettings,
) -> Result<(), Error<SettingsNotificationsEmailTestPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_body_notification_email_settings = notification_email_settings;

    let uri_str = format!(
        "{}/settings/notifications/email/test",
        configuration.base_path
    );
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };
    req_builder = req_builder.json(&p_body_notification_email_settings);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<SettingsNotificationsEmailTestPostError> =
            serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns current Gotify notification settings in a JSON object.
pub async fn settings_notifications_gotify_get(
    configuration: &configuration::Configuration,
) -> Result<models::GotifySettings, Error<SettingsNotificationsGotifyGetError>> {
    let uri_str = format!("{}/settings/notifications/gotify", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

[...]
