/*
 * Seerr API
 *
 * This is the documentation for the Seerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Seerr.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`tv_tv_id_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TvTvIdGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`tv_tv_id_ratings_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TvTvIdRatingsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`tv_tv_id_recommendations_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TvTvIdRecommendationsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`tv_tv_id_season_season_number_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TvTvIdSeasonSeasonNumberGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`tv_tv_id_similar_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TvTvIdSimilarGetError {
    UnknownValue(serde_json::Value),
}

/// Returns full TV details in a JSON object.
pub async fn tv_tv_id_get(
    configuration: &configuration::Configuration,
    tv_id: f64,
    language: Option<&str>,
) -> Result<models::TvDetails, Error<TvTvIdGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tv_id = tv_id;
    let p_query_language = language;

    let uri_str = format!("{}/tv/{tvId}", configuration.base_path, tvId = p_path_tv_id);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::TvDetails`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::TvDetails`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TvTvIdGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns ratings based on provided tvId in a JSON object.
pub async fn tv_tv_id_ratings_get(
    configuration: &configuration::Configuration,
    tv_id: f64,
) -> Result<models::TvTvIdRatingsGet200Response, Error<TvTvIdRatingsGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tv_id = tv_id;

    let uri_str = format!(
        "{}/tv/{tvId}/ratings",
        configuration.base_path,
        tvId = p_path_tv_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::TvTvIdRatingsGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::TvTvIdRatingsGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TvTvIdRatingsGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of recommended TV series based on the provided tvId in a JSON object.
pub async fn tv_tv_id_recommendations_get(
    configuration: &configuration::Configuration,
    tv_id: f64,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverTvGet200Response, Error<TvTvIdRecommendationsGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tv_id = tv_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/tv/{tvId}/recommendations",
        configuration.base_path,
        tvId = p_path_tv_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TvTvIdRecommendationsGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns season details with a list of episodes in a JSON object.
pub async fn tv_tv_id_season_season_number_get(
    configuration: &configuration::Configuration,
    tv_id: f64,
    season_number: f64,
    language: Option<&str>,
) -> Result<models::Season, Error<TvTvIdSeasonSeasonNumberGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tv_id = tv_id;
    let p_path_season_number = season_number;
    let p_query_language = language;

    let uri_str = format!(
        "{}/tv/{tvId}/season/{seasonNumber}",
        configuration.base_path,
        tvId = p_path_tv_id,
        seasonNumber = p_path_season_number
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::Season`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::Season`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TvTvIdSeasonSeasonNumberGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}

/// Returns list of similar TV series based on the provided tvId in a JSON object.
pub async fn tv_tv_id_similar_get(
    configuration: &configuration::Configuration,
    tv_id: f64,
    page: Option<f64>,
    language: Option<&str>,
) -> Result<models::DiscoverTvGet200Response, Error<TvTvIdSimilarGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_tv_id = tv_id;
    let p_query_page = page;
    let p_query_language = language;

    let uri_str = format!(
        "{}/tv/{tvId}/similar",
        configuration.base_path,
        tvId = p_path_tv_id
    );
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_page {
        req_builder = req_builder.query(&[("page", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_language {
        req_builder = req_builder.query(&[("language", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("X-Api-Key", value);
    };

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::DiscoverTvGet200Response`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::DiscoverTvGet200Response`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TvTvIdSimilarGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
